# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/

# Envs & local tools
.venv/
venv/
.env
.env.*
*.sqlite
*.db
instance/

# Editors/IDE
.vscode/
.idea/
.DS_Store

# Byte-compiled and caches
.pytest_cache/
.mypy_cache/
